.container{
    margin-top: 3rem !important;
    font-weight: bolder !important;
}
.tcontainer{
   direction: ltr !important;
   margin-top: 3rem !important;
   width: 500px !important;
   height: 400px!important;
   font-size: medium !important;
   text-align: center !important;
}