.tcontainer{
   width: 700px !important;
   height: 600px!important;
   direction: rtl !important;
   font-size: medium !important;
   text-align: center !important;
}
.mt3{
    margin-top:3rem !important;
}
.fbold{
    font-weight: bold !important;
}
.table{
    font-size: medium !important;
    text-align: center !important;
    font-weight: bold !important;
}
.add{
    padding: .5rem 2rem !important;
    font-size: bold !important;
}
.label {
    display: block;
}
.btn{
     text-align: center ;
    margin-top: 1rem !important;
}