@import '../../../Style/variables';
.footer{
    background-color: $primary !important;
    padding: 2rem;
    margin-top: 3rem;
}
.content{
    color:white;
    font-size: larger;
    font-weight: bold;
}
