@import '../../../Style/variables';
@import '../../../Style/mixin';
.main{
    padding: 2rem 0rem;
}
.table{
    font-size: medium !important;
    text-align: center !important;
    font-weight: bold !important;
}
.tcontainer{
    width: 700px !important;
    height: 600px!important;
    direction: rtl !important;
    font-size: medium !important;
    text-align: center !important;
 }
 .btn{
    background-color: $main !important;
    padding: 1rem 2.5rem !important ;
    color: white !important;
    font-size: large !important;
    font-weight: bold !important;
    @include respond-to('medium'){
        width: 200px;
    }
    // margin: .5rem;
   
}
.total{
    padding-left: 18rem;
    @include respond-to('medium'){
        padding-left:0;
    }
}
.priceContainer{
    margin-top: 2rem;
    padding: 1rem;
    @include respond-to('small'){
        flex-wrap: wrap !important;
        align-items: center;
        justify-content: center !important;
    }
    @include respond-to('medium'){
        justify-content: space-between;
        padding: 0%;
    }
}
.warning {
    margin-bottom: 20rem;
}
.tableContainer{
    margin-top: 2rem;
    @include respond-to('small'){
        width: 100% !important;
    }
    @include respond-to('medium'){
        width: 100% !important;
    }
}
.icon{
    color:$primary !important;
}