@import '../../../Style/variables';
@import '../../../Style/mixin';
.link{
   font-size: x-large !important;
   font-weight: bold !important;
   color:$primary !important;
}
.homeContainer{
    margin-top: 3rem !important;
}
.cardConatiner{
    @include respond-to('small'){
        padding:0rem !important;
    }
    @include respond-to('medium'){
        padding:1rem !important;
    }
    margin-top: 2rem !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    padding: 2rem !important;
}
.card{
    @include respond-to('small'){
        flex-basis: 100% !important;
    }
    @include respond-to('medium'){
        flex-basis: 40% !important;
        width: 100% !important;
    }
    flex-basis: 21% ;
    margin: 1.5rem 1rem;
    width: 100%;
    align-items: center;
    box-shadow: 0px 0px 3px 0px #d3d1d1;
    border-radius: 8px;
    .contentContainer{
        padding: 0rem 1rem;
        font-size: large;
        font-weight: bold;
    }
}
.imgContainer{
   
    & img{
        width: 100%;
        object-fit: cover;
    }
   
}
.swiper {
    width: 100%;
    height: 600px;
  }
  
  .swiperSlide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
//   .swiper-slide{
//       img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover !important;
//     object-position: 15% 100% !important;
    
//   }
//   }
.fImage{
    width: 100%;
    height: 100%;
    background-image: url("../../../Assets/Images/1.jpg");
    background-position:top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sImage{
    width:100%;
    height: 100%;
    background-image: url("../../../Assets/Images/2.jpg");
    background-position: top center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.tImage{
    width:100%;
    height: 100%;
    background-image: url("../../../Assets/Images/3.jpeg");
    background-position: center top ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}