@import '../../../Style/variables';
@import '../../../Style/mixin';
.cardConatiner{
    @include respond-to('small'){
        padding:.5rem !important;
    }
    @include respond-to('medium'){
        padding: 1rem ;
    }
    margin-top: 2rem ;
    display: flex ;
    justify-content: space-between;
    align-items: center ;
    flex-wrap: wrap ;
    padding: 2rem ;
}
.card{
    @include respond-to('small'){
        flex-basis: 100% !important;
        width: 100% !important;
    }
    @include respond-to('medium'){
        flex-basis: 40% ;
        width: 100% ;
    }
    flex-basis: 21% ;
    margin: 1.5rem 1rem;
    width: 100%;
    align-items: center;
    box-shadow: 0px 0px 3px 0px #d3d1d1;
    border-radius: 8px;
    .contentContainer{
        padding: 0rem 1rem;
        font-size: large;
        font-weight: bold;
    }
    & a{
         color: black;
    }
}
.imgContainer{
   
    & img{
        width: 100%;
        object-fit: cover;
    }
   
}