@import '../../../Style/variables';
@import '../../../Style/mixin';
.form{
    @include respond-to('small'){
        width: 100% !important;
    }
    @include respond-to('medium'){
        width: 80%;
    }
    width: 50%;
    margin: auto;
    // & input{
    //     display:inline-block;
    //     width: 40%;
    //     margin: 1rem;
    // }
  
}
.inputContainer{
    width: 50% !important;
    margin-bottom: 1rem;
    & label{
        font-size: larger;
        font-weight: bold;
        margin-left: 2rem;
    }
}
.label{
    font-size: larger;
        font-weight: bold;
        margin-left: .5rem;
}
.btn{
    margin-top: 2rem;
    text-align: center;
    & button{
        @include respond-to('small'){
            padding: .5rem 4rem !important;
        }
        @include respond-to('medium'){
            padding: .5rem 4rem;
        }
    background-color: $main !important;
    padding: .5rem 2rem;
    color: white !important;
    font-size: large !important;
    font-weight: bold !important;
    margin: 0 .5rem !important;
    }
   
}
.datePicker{
    & input{
        @include respond-to('small'){
            padding: 8px 38px !important;
            width: 70% !important;
        }
        @include respond-to('medium'){
           width: 38%;
        }

    height: 35px !important;
    padding: 8px 121px !important;
    text-align: center !important;
    }
}
