@import '../../../Style/variables';
@import '../../../Style/mixin';
.title{
    padding: 1rem 0rem;
    & a{
        color: $primary !important;
        font-size: x-large;
        font-weight: bolder;
        
    }
    & p{
        color: $primary !important;
        font-size: large !important;
        font-weight: bold !important; 
    }
    
}
.sideContainer{
    @include respond-to('small'){
        width: 34% !important;
    }
    width: 15% ;
}
.sub{
    margin: 2rem 0rem !important;
}