@font-face {
  font-family: 'main';
  src: url("../Assets/Font/IRAN\ Sans\ Regular\ \(mmrostami.blog.ir\).ttf");
}
body{
  margin:0;
  box-sizing: border-box;
  font-family: main !important;
}
.container{
  width: 80%;
  margin: auto;
}
.error{
  color: red;
}
a{
  text-decoration: none;
}
.d-flex{
  display:flex;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items:center;
}
.MuiDataGrid-menuIcon{
  display:none !important
}
// .MuiTablePagination-actions{
//   & svg{
//     transform: rotate(180deg);
//   }
  
// }
.MuiPagination-ul {
  justify-content: center !important;
  // & svg{
  //   transform: rotate(180deg);
  // }
  
}
.MuiDialogTitle-root{
  direction:ltr !important ;
}
.swiper-button-nex {
  &::after{
    color:black !important
  }
   
}
.swiper-pagination-bullets{
  color:black !important
}
.wrap{
  flex-wrap: wrap;
}
.MuiInputLabel-root{
  font-size: x-large !important;
  font-weight: bolder;
  direction: rtl !important;
}
.MuiTableCell-root{
  text-align: right !important;
}