@font-face {
  font-family: 'main';
  src: url("../Assets/Font/IRAN\ Sans\ Regular\ \(mmrostami.blog.ir\).ttf");
}
body{
  margin:0;
  box-sizing: border-box;
  font-family: main !important;
}
.container{
  width: 80%;
  margin: auto;
}
.error{
  color: red;
}
a{
  text-decoration: none;
}
.d-flex{
  display:flex;
}
.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items:center;
}
.MuiDataGrid-menuIcon{
  display:none !important
}