@import '../../../Style/variables';
@import '../../../Style/mixin';

.proContainer{
    width: 85% !important;
    overflow: hidden;
}
.cardConatiner{
    @include respond-to('small'){
        padding: 0 !important;
    }
    @include respond-to('medium'){
        padding: 1rem;
    }
    margin-top: 2rem ;
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    flex-wrap: wrap ;
    padding: 2rem ;
}
.card{
    flex-basis: 25% ;
    margin: 1.5rem 1rem;
    width: 100%;
    align-items: center;
    box-shadow: 0px 0px 3px 0px #d3d1d1;
    border-radius: 8px;
    .contentContainer{
        padding: 0rem 1rem;
        font-size: large;
        font-weight: bold;
    }
}
.imgContainer{
   
    & img{
        width: 100%;
        object-fit: cover;
    }
   
}
.center{
    @include respond-to('small'){
        width: 100% !important;
    }
 margin-top: 5rem !important;
}