@import '../../../Style/variables';
@import '../../../Style/mixin';
.containerFluid{
    @include respond-to('small'){
       padding-top: 1rem !important;
       padding-bottom: 1rem !important;
       padding-left: 1.3rem !important;
       padding-right: .5rem !important;
    }
    padding: 1rem 2rem;
    background-color:$primary;
    color:white !important;
}
.image{
    text-align: right !important;
    @include respond-to('small'){
        width: 70px !important;
        height: 70px !important;
    }
    border-radius: 50% !important;
    width: 100px !important;
    height: 100px !important;
}
.logo{
    & h1{
        @include respond-to('small'){
            font-size: medium !important;
            width: 70px!important;
        }
        @include respond-to('medium'){
            font-size:larger ;
            width: 70px;
        }
    }
}
.home{
    @include respond-to('small'){
       display: none !important;
    }
    @include respond-to('medium'){
        display: none ;
     }
    color: white !important;
    border-bottom: 1px solid $main !important;
    font-size: medium !important;
    // margin-right: 2rem!important;
}
.icon{
    color: $main !important;
    & svg {
        @include respond-to('samll'){
       font-size: .8rem !important;
    } 
    }
   
    
    
}
.logoContainer{
    @include respond-to('small'){
        font-size:medium;
     }
    flex-basis: 30% !important;
}
.navContainer{
    & h3{
        color: white !important;
        @include respond-to('small'){
            font-size: medium !important;
        } 
        @include respond-to('medium'){
            font-size: larger ;
        } 
    }
    @include respond-to('small'){
        flex-basis: 35% !important;
    }
    @include respond-to('medium'){
        flex-basis: 30%;
    }
    flex-basis: 15% ;
}