@import '../../../Style/variables';
.containerFluid{
    padding: 1rem 2rem;
    background-color:$primary;
    color:white !important;
}
.image{
    border-radius: 50% !important;
    width: 100px !important;
    height: 100px !important;
}
.home{
    color: white !important;
    border-bottom: 1px solid $main !important;
    font-size: medium !important;
    // margin-right: 2rem!important;
}
.icon{
    color: $main !important;
}
.logoContainer{
    flex-basis: 30% !important;
}
.navContainer{
    flex-basis: 15% !important;
}