.containerFluid{
    padding: 1rem 2rem;
    background-color: #3f4f5f;
    color:white !important;
}
.image{
    border-radius: 50% !important;
    width: 100px !important;
    height: 100px !important;
}
.home{
    color: white !important;
    border-bottom: 1px solid #be965b !important;
    font-size: medium !important;
    // margin-right: 2rem!important;
}
.icon{
    color: #be965b !important;
}
.logoContainer{
    flex-basis: 30% !important;
}
.navContainer{
    flex-basis: 15% !important;
}