.tcontainer{
    width: 600px !important;
    height: 500px!important;
    direction: rtl !important;
    font-size: medium !important;
    text-align: center !important;
    margin-top: 3rem !important;
 }
 .mt3{
     margin-top:3rem !important;
 }
 .fbold{
     font-weight: bold !important;
 }
 .table{
     font-size: medium !important;
     text-align: center !important;
     font-weight: bold !important;
 }
 .radio{
     flex-basis: 40%;
 }
 .add{
    padding: .5rem 2rem !important;
    font-size: bold !important;
 }
 .btn{
    text-align: center ;
   margin-top: 1rem !important;
}